<ion-header>
    <ion-navbar>
      <ion-title>
        US Holidays
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list class="holiday-list">
        <ion-list-header *ngFor="let item of holidays; let i = index">
          <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
              {{ item.name }}
          </button>
          <ion-list *ngIf="item.date && item.open">
            <ion-list-header>
              {{ item.date}}
            </ion-list-header>
          </ion-list>
        </ion-list-header>
     werwerwer wrewerwer werewr
    </ion-list>
  </ion-content>