page-usa {
        
}

.toolbar-background {
    background-color:#1E90FF;
    
    
}

.toolbar-title{
    font-size: 2.4rem;
    color: #00008B;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

